/* * {
    padding: 0;
    margin: 0;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
  text-align: center;
  margin: 0px;
  position: absolute;
}

.container-top {
  background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.412);
  padding: 7%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-top p {
  width: 65%;
}

.read-more-btn {
  padding: 20px 30px;
  background-color: #242421;
  color: white;
  border: #666 solid 1px;
  font-size: 16px;
}

.read-more-btn:hover {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5% 0px 2% 0%;
}

.content-paragraph {
  display: flex;
  justify-content: center;
}

.content-paragraph > p {
  padding: 0px 20px;
  /* this line was the hole problem!!
  we didn't even need that! */
  /* width: 25em; */
}

.container-cards {
  background-color: #242421;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
}

.container-card {
  background-color: #fff;
  width: 250px;
  margin: 5px 10px;
}

.container-card > p {
  padding: 20px 20px 30px 20px;
}

.container-card > img {
  width: 250px;
}

.container-middle {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-middle > p {
  width: 55%;
}
.container-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  /* In order to add padding while using 50% width, I had to sub the padding in both sides in order to actually get 50% width. */
  width: calc(50% - 2rem * 2);
  height: auto;
}

.about-us {
  background-color: #242421;
  color: white;
}

.contact-us {
  background-color: lightblue;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 35px;
}

.footer > div {
  width: 100%;
}

@media only screen and (max-width: 560px) {
  .info {
    width: 100%;
  }
}
