.page-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 600px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0 2rem;
}

@media (max-width: 1200px) {
  .form-container {
    width: 40%;
  }
}

@media (max-width: 920px) {
  .form-container {
    width: 50%;
  }
}

@media (max-width: 620px) {
  .form-container {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .form-container {
    width: 80%;
  }
}

.submit-form {
  align-self: center;
  width: 7rem;
  height: 2rem;
  margin: 1rem;
}

.error-text {
  color: red;
}

label {
  font-size: 12px;
}

input {
  margin-bottom: 2rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
  height: 1.5rem;
  border-radius: 6px;
  padding: 0.5rem;
}

input:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 10px;
}

.mendatory::before {
  content: "* ";
  color: red;
}
