.product-details-card-container {
  display: flex;
  justify-content: center;
  /* height: 600px; */
}

.product-details-card-container > .product-card {
  min-width: 20%;
  height: 100%;
}

.product-details-card-container h5,
.product-details-card-container h6 {
  margin: 0.3rem 0;
  text-align: center;
}

.product-description {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px 0;
  line-height: 120%;
}
